

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.img-logo{
    position: relative;
    float: right;
    width: 10%;
}

.content {
    text-align: center;
}

.title {
    font-size: 42px;
    text-shadow: 2px 2px 2px #A0ADB4;
    color: #636b6f;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


